

body {
  font-family: 'Roboto', sans-serif;
}

.box-container {
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 750px;
}
.header-container{
  background-color: #0fb9b1;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.title{
  margin-top: 15px;
  font-size: 17px;
  margin-left: 10px;
  margin-right:auto;
}

.add-recipe{
  background-color:rgba(225, 225, 225, .9);
  margin-top: 15px;;
  font-size: 11px;
  margin: auto;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
  font-size: 11px;
  height: 25px;
  width: 95px;
}

.leftBox{
  background-color: rgba(225, 225, 225, .9);
  height:300px;
  margin-left: 75px;
  margin-top: 75px;
  margin-right: 200px;
  flex:1;
}

.left-title{
  margin-top:0px;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 30px;
}

.rightBox{
  background-color: rgba(225, 225, 225, .9);
  height: 300px;
  flex: 1;
  margin-right: 75px;
  margin-top: 75px;
  display: block;
  text-align: center;
}

input[type="radio"]{
display: block;
vertical-align: top;
width: auto;
}

.radio-container{
  font-size:12px;
  display: block;
  position: relative;
  padding-left:10px;
  cursor: pointer;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 95px;
  height: 95px;
}
label{
  display: block;
}
.letsCookButton{
  display: block;
  background-color: #0fb9b1;
  border-radius: 5px;
  border: none;
  width: 125px;
  font-size: 11px;
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
.recipe-hidden{
  text-align: center;
}
.right-text{
  font-size: 13px;
}
.hidden{
  display:none;
}




/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
