

body {
  font-family: 'Roboto', sans-serif;
}

.box-section {
  background-image: url("assets/burger-friends.jpg");
}
.header{
  background-color: #0fb9b1;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.title{
  margin-top: 15px;
  font-size: 17px;
  margin-left: 10px;
  margin-right:auto;
}

.add-recipe{
  background-color:rgba(225, 225, 225, .9);
  margin-top: 15px;;
  font-size: 11px;
  margin: auto;
  margin-right: 15px;
   border-radius: 5px;
  margin-right: 15px;
  font-size: 11px;
  height: 25px;
  width: 95px;
}
.leftBox{
  background-color: rgba(225, 225, 225, .9);
  width: 300px;
}
input{
  display: block;
  position: relative
  font-size: 10px;
}

/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
